mixin pagination(pages, currentPage)
    nav(aria-label="Page navigation")
        ul.pagination
            li.page-item: a.page-link(href="#"): img(src="/img/arrow-prev@2x.png" alt="" height="24")
            for page, index in pages
                li.page-item: a.page-link(href="#" class=index == currentPage - 1 ? "active" : "")= index + 1
            li.page-item: a.page-link(href="#"): img(src="/img/arrow-next@2x.png" alt="" height="24")            