.pagination{
    justify-content: center;

    .page-item{
        &:first-child, &:last-child{
            .page-link{
                padding: 0 1.5rem;
                line-height: 2.35;
            }
        }
    }

    .page-link{
        font-size: 1.25rem;
        color: #B7B7B7;
        border: none;
        padding: .75rem;
        margin: 0 .5rem;
        line-height: 1.25;

        &:hover{
            background: none;
        }

        &.active{
            border: 1px solid $gray-900;
            border-radius: 5px;
            font-weight: 600;
            color: $gray-900;

            pointer-events: none;
        }
    }
}