.about{
    padding: 70px 0;

    @include device-lg{
        padding: 35px 0;
    }

    &-images{
        max-width: 100%;
        img{
            width: 100%;
        }

        .col{
            padding-left: 2px;
            padding-right: 2px;
            margin-bottom: 3px;
        }
    }

    &-content{
        margin: auto;
        width: 50%;
        min-width: 650px;
        text-align: center;
        color: $gray-900;
        font-weight: 300;
        font-size: 1rem;

        @media screen and (max-width: 768px){
            width: 100%;
            min-width: unset;
        }
    }
}