.events{
    background-color: $gray-200;
    padding: 70px 0;

    @include device-lg{
        padding: 35px 0;
    }

    .container{
        display: flex;
        align-items: center;

        @media screen and (max-width: 768px){
            flex-direction: column-reverse;

            & > *:last-child{
                margin-bottom: 1rem;
            }
        }
    }

    &-title{
        color: $gray-600;
        font-size: 3rem;
        text-transform: uppercase;
        text-align: center;
        font-weight: 500;
        letter-spacing: 2px;
        margin-bottom: 2rem;

        @media screen and (max-width: 768px){
            font-size: 1.5rem;
        }
    }

    &-left{
        flex: 0 0 43%;
        max-width: 43%;

        @media screen and (max-width: 768px){
            max-width: 100%;
            flex: 0 0 100%;
        }

        border: 10px solid white;

        img{
            max-width: 100%;
            display: none;

            &.selected{
                display: block;
            }
        }
    }

    &-right{
        margin-left: 5%;
        flex: 0 0 52%;
        max-width: 52%;

        @media screen and (max-width: 768px){
            max-width: 100%;
            flex: 0 0 100%;
            margin-left: 0;
        }

        li .events-list-item.selected{
            background-color: white;
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
            cursor: pointer;
            color: inherit;

            a{
                text-decoration: none;
            }
            
            &:before, &:after{
                display: none;
                content: none;
            }
        }
    }

    &-button{
        text-align: left;
        padding: 2rem 0 0 2rem;

        @media screen and (max-width: 768px){
            text-align: center;
            padding: 0;
        }

        a{
            color: $gray-900;
        }
    }

    &-list{
        list-style: none;
        padding: 0;

        &-body{
            display: none;

            &.selected{
                display: block;
            }
        }

        &-item{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 1rem 0;
            transition: .3s;
            position: relative;

            @include device-md{
                flex-direction: column;
                text-align: center;
                
                & > *:first-child{
                    margin-bottom: 1rem;
                }
            }

            &.selected{
                &:before, &:after{
                    content: '';
                    position: absolute;
                    height: 15px;
                    width: 100%;
                    z-index: 0;
                }

                &:before{
                    top: -15px;
                    background: linear-gradient(transparent, rgba(30, 32, 42, 0.1));
                }

                &:after{
                    bottom: -15px;
                    background: linear-gradient(rgba(30, 32, 42, 0.1), transparent);
                }
            }

            &-title{
                text-transform: uppercase;
                color: $gray-900;
            }

            p{
                margin-bottom: 0;
                color: $gray-600;
                font-size: .9rem;
                width: 80%;

                @include device-lg{
                    width: 100%;
                    padding: .75rem;
                }
            }

            @media (hover: hover){
                &:hover{
                    background-color: white;
                    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
                    cursor: pointer;
                    text-decoration: none;
                    color: inherit;
                }
            }
        }
    }
}