.separator{
    background-color: $blue-700;
    padding: 30px 0;

    .container{
        min-height: 150px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include device-lg{
            flex-direction: column;
            min-height: 120px;

            & > *:first-child{
                margin-bottom: 1rem;
                justify-content: center;
            }
        }
    }

    &-content{
        color: white;

        h4{
            text-transform: uppercase;
            font-size: 1.75rem;
            font-weight: 400;
        }

        p{
            font-weight: 300;
            color: white;
            margin-bottom: 0;
            font-size: .9rem;
        }
    }
}