extends ./../layout

block content
    section.contact
        .container.shadow
            h1 WE WOULD LOVE TO HEAR FROM YOU
            h3 The Union provides a top-notch location in the heart of downtown Seattle
            p We are located in the plaza of the Met Life Building on the Second Ave side of the building. The mailing address is 1201 Third Ave, Suite 150 Seattle WA 98101
            p Directions: The best address to use for GPS is:
                strong  1200 Second Ave, Seattle WA 98101
            p You can contact us using the form below or by calling
                a(href="tel:206-551-0964")  206-551-0964
            form(method='POST')
                input(type='hidden', name='_csrf', value=_csrf)
                .row.mb-4
                    .col-sm-6.mb-4.mb-sm-0
                        input(type="text" placeholder="Your name" name="name" class="form-control form-control-lg" id="name")
                    .col-sm-6
                        input(type="email" placeholder="Your email" name="email" class="form-control form-control-lg" id="email")
                .row.mb-4
                    .col
                        textarea(name="message" class="form-control form-control-lg" rows="10" placeholder="Your message")
                .text-center.mt-md-5.mt-2
                    button(type="submit").btn.btn-slg.btn-black send message